nav ul li {
    display: inline-block;
}

.updateMagazine,
.deleteMagazine,
.updateAuthor, 
.deleteAuthor {
    font-size: 12px;
    color: grey;
    text-decoration: none;
}

.updateMagazine:hover,
.deleteMagazine:hover,
.updateAuthor:hover, 
.deleteAuthor:hover {
    color: red;
    cursor: pointer;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination a {
    margin-left: 10px;
}

.pagination a:hover {
    cursor: pointer;
    color: red;
}